<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Records</title>
</head>
<body>
<h2>Attendance Records </h2>

<table>
    <tr>
        <td>Present:</td>
        <td th:text="${attendancePercentages['presentPercentage']} + '%'"></td>
    </tr>
    <tr>
        <td>Late:</td>
        <td th:text="${attendancePercentages['latePercentage']} + '%'"></td>
    </tr>
    <tr>
        <td>Absent:</td>
        <td th:text="${attendancePercentages['absentPercentage']} + '%'"></td>
    </tr>
</table>
<a class="btn btn-primary" th:href="@{'/CourseInstructorDashboard/'+ ${courseInstructorId} + '/attendance/' +  ${classid} + '/setAttendance'}">Add Attendance</a>
<table border="1">

    <thead>
    <tr>
        <th>Week</th>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${attendanceRecords}">
        <th th:text="${record.week}"></th>
        <td th:text="${record.student.stuid}"></td>
        <td th:text="${record.student.fname + ' ' + record.student.lname}"></td>
        <td th:text="${record.day_of_week == 'Monday' ? record.status : ''}"></td>
        <td th:text="${record.day_of_week == 'Tuesday' ? record.status : ''}"></td>
        <td th:text="${record.day_of_week == 'Wednesday' ? record.status : ''}"></td>
        <td th:text="${record.day_of_week == 'Thursday' ? record.status : ''}"></td>
        <td th:text="${record.day_of_week == 'Friday' ? record.status : ''}"></td>
    </tr>
    </tbody>

</table>



<!-- Pagination for Weeks -->
<div th:if="${totalPages > 1}">
    <span th:if="${currentWeek > 1}">
        <a th:href="@{/CourseInstructorDashboard/{courseInstructorId}/attendance/{classid}(courseInstructorId=${courseInstructorId}, classid=${classid}, week=${currentWeek - 1})}">
            Previous Week
        </a>
    </span>

    <span th:if="${currentWeek < totalPages}">
        <a th:href="@{/CourseInstructorDashboard/{courseInstructorId}/attendance/{classid}(courseInstructorId=${courseInstructorId}, classid=${classid}, week=${currentWeek + 1})}">
            Next Week
        </a>
    </span>
</div>


</body>
</html>
