<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parent Dashboard</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
<h1>Parent Dashboard</h1>
<a th:href="@{'/ParentDashboard/' + ${parentId} +'/messages'}">Inbox</a>
<table border="1">
    <thead>
    <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>View Courses</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the students linked to the parent -->
    <tr th:each="student : ${students}">
        <td th:text="${student.stuid}"></td>
        <td th:text="${student.fname}"></td>
        <td th:text="${student.lname}"></td>
        <td>
            <a th:href="@{'/ParentDashboard/' + ${parentId} + '/studentCourses/' + ${student.stuid} }">
                <button>View Courses</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
