<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Student to Class</title>
</head>
<body>

<h2>Register Instructor to Class</h2>

<form action="#" th:action="@{/CourseAdminDashboard/registerInstructorToClass/save}" th:object="${instructorCourseRegistrationDTO}" method="post">
    <div>
        <label for="instructorId">Instructor ID:</label>
        <input type="number" id="instructorId" th:field="*{courseInstructorId}" required />
    </div>

    <div>
        <label for="classId">Class ID:</label>
        <input type="number" id="classId" th:field="*{classId}" required />
    </div>

    <div>
        <button type="submit">Register</button>
    </div>
</form>

</body>
</html>
